@{
    ViewBag.Title = "About";
}
<h2>This page will have a description about golf clubs, and how they are different.</h2>
<img src = "http://golfclubsreplay.com/wp-content/uploads/2015/11/taylormade1-600x449.jpg", 
     alt = "TaylorMade Irons" width="500" >

<p>This could be more information about golf clubs.</p>
