@{
    ViewBag.Title = "Contact";
}
<h2>Kurt Risley</h2>

<address>
    Tiger Woods Ave.<br />
    Laramie, Wy<br />
    <abbr title="Phone">P:</abbr>
    800-000-0000
</address>

<img src = "http://images.performgroup.com/di/library/sporting_news/cd/b9/tiger-woods-2005jpg_ilrwl5bak8ru1kxyz8wzqvcea.jpg?t=1059750994&w=960&quality=70", 
     alt="It's Me, Tiger Woods" width="500" >

<address>
    <strong>Support:</strong>   <a href="mailto:Kurt@example.com">Kurt@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Rizz@example.com">Rizz@example.com</a>
</address>