@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GOLF CLUBS</h1>
    <p class="lead">
        The world of golf everyone is trying to come up with the next best piece of equipment.
        Because of this, golf clubs have numerous pieces that can be altered depending on the golfer's ability.
        Below is a list of the different categories that can be put together to make a golf club.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TYPES</h2>
        <ul>
            <li>TaylorMade</li>
            <li>Callaway</li>
            <li>Titleist</li>
            <li>PXG</li>
            <li>Cleveland</li>
            <li>Mizuno</li>
        </ul>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CATEGORIES</h2>
        <ul>
            <li>Steel Shaft</li>
            <li>Graphite Shaft</li>
            <li>Cavity Back</li>
            <li>Muscle Back</li>
            <li>Forged Head</li>
            <li>Cast Head</li>
            <li>Hybrid</li>
            <li>Regular Grip</li>
            <li>Oversized Grip</li>
            <li>Soft Grip</li>
            <li>Firm Grip</li>
            <li>Offset Face</li>
            <li>Upright</li>
            <li>Flat</li>
            <li>Regular Flex</li>
            <li>Stiff Flex</li>
            <li>Taper Shaft</li>
            <li>Parallel Shaft</li>
        </ul>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ATTRIBUTES</h2>
        <ul>
            <li>Beginner</li>
            <li>Intermediate</li>
            <li>Advanced</li>
            <li>Expert</li>
        </ul>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>